<ion-view view-title="Chat">
	
  <ion-content>
    <div ng-repeat = "chatRoom in chatRoomList" class="list">
    <a ui-sref="chatbox({id:chatRoom.room_id})" class="item item-thumbnail-left">
      <!-- <img src={{news.img}}> -->
      <h2>{{chatRoom.partner}}</h2>
    </a>
</div>
  </ion-content>
	<!-- <ion-content>


		<div class="list card">

		    <a class="item item-avatar" ui-sref="chatbox">
		      <img src="../img/profile1.png">
		      <h2>Venkman</h2>
		    </a>

    

		</div>
	</ion-content> -->
</ion-view>