<!--<ion-view>
<ion-content class="chat-container" class="content-stable">-->
 			<!--<div ng-repeat="message in messages">
 				<div class="full1">
 				<span ng-show="message.type==1" style="text-align:left; width:100%;background-color:red">
 						{{message.text}}
 				</span>
 				<span ng-show="message.type==0" style="text-align:left; width:100%;background-color:blue">
 						{{message.text}}
 				</span>
 				</div>
 			</div>-->

        <ion-view id="userMessagesView"
          cache-view="false" 
          view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i>">
        
       <ion-nav-bar class="bar-positive" no-tap-scroll="false">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
          <ion-content has-bouncing="true" class="has-header has-footer" 
              delegate-handle="userMessageScroll">
            
              <div ng-repeat="message in messages" class="message-wrapper">
                 <!-- on-hold="onMessageHold($event, $index, message)"-->
      
                  <div ng-show="message.type == 1">
                      
                    <img ng-click="viewProfile(message)" class="profile-pic left" 
                          ng-src="{{toUser.pic}}"><!-- onerror="onProfilePicError(this)" /-->
      
                      <div class="chat-bubble left">
      
                          <div class="message" ng-bind-html="message.text | nl2br">
                          </div>
      
                         <!-- <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{toUser.username}}</span>,
                              <span am-time-ago="message.date"></span>
                          </div-->
      
                      </div>
                  </div>
      
                  <div ng-show="message.type==0">
                    
                       <img ng-click="viewProfile(message)" class="profile-pic right" 
                          ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />
                    
                      <div class="chat-bubble right">
      
                          <div class="message" ng-bind-html="message.text | nl2br">
                          </div>
      
                          <!--div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{user.username}}</span>, 
                              <span am-time-ago="message.date"></span>
                          </div-->
      
                      </div>
                    
                  </div>
      
                  <div class="cf"></div>
      
              </div>
          </ion-content>
      
          <form name="sendMessageForm" ng-submit="sendMessage()" novalidate>
              <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
                  <label class="item-input-wrapper">
                      <textarea ng-model="textbox" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" ></textarea>
                  </label>
                  <div class="footer-btn-wrap">
                    <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!textbox || textbox === ''">
                    </button>
                  </div>
              </ion-footer-bar>
          </form>
          
 			
     
<!--</ion-content>-->
	<!--<ion-footer-bar >

<div class="list full1">
	<div class="item item-input-inset" style="background-color:#fff">
 				<label class="item-input-wrapper"  style="background-color:#fff">
 					<input type="text" ng-model="chat" placeholder="Type message...">
 				</label>
 				<button class="button button-positive" ng-click="sendMessage()">Send</button>
 			</div>
 		</div>	

   </ion-footer-bar>-->

</ion-view>