<ion-view class="bck">
	<ion-tabs class="tabs-positive tabs-striped tabs-icon-top">
	    <ion-tab title="Matches" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
	      <!-- Tab 1 content -->
	      <div class="card" style="margin-top:65px;">
	      	<div class="row">
	      		<div class="col col-50">
	      			<img src="../img/download.jpg">
	      		</div>
  				<div class="col col-50">
  					<img src="../img/download.jpg">
  				</div>
	      	</div>
	      </div>
	      <div class="row">
	      		
	      	</div>
	    </ion-tab>

	    <ion-tab title="Chat" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline">
	      <!-- Tab 2 content -->
	    </ion-tab>

	    <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
	      <!-- Tab 3 content -->
	    </ion-tab>
	</ion-tabs>
</ion-view>