<ion-view class="bck">
	<ion-nav-bar class="nav-title-slide-ios7 bar-color">
    </ion-nav-bar>
	<ion-tabs class="tabs-positive tabs-striped tabs-icon-top">
	    <ion-tab title="Matches" ui-sref="home.match" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
	      	<!-- Tab 1 content -->
    		<ion-nav-view name="match-tab"></ion-nav-view>
	    </ion-tab>

	    <ion-tab title="Chat" ui-sref="home.chat" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline">
	      	<!-- Tab 2 content -->
	      	<ion-nav-view name="chat-tab"></ion-nav-view>
	    </ion-tab>
 <ion-tab title="Notifications" ui-sref="" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications">
	      	<!-- Tab 2 content -->
	      	<ion-nav-view name=""></ion-nav-view>
	    </ion-tab>
	    <ion-tab title="Profile" ui-sref="home.profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/app/profile">
	      	<!-- Tab 3 content -->
	      	<ion-nav-view name="profile-tab"></ion-nav-view>
	    </ion-tab>
	</ion-tabs>
</ion-view>