<ion-view class="bck">
<ion-nav-title>
</ion-nav-title>
<ion-content>
<div class="container1">
	
	<div class="row">
		<div class="col-25"></div>
  		<div class="col-50" class="profileImg"><img src="../img/download.jpg"></div>
		<div class="col-25"></div>
	</div>
	<div class="row">
		<div class="col-25"></div>	
  		<div class="col-50">
  			<div class="row" class="profileRow2">Hello ,<strong> AJit</strong></div>
  		</div>
		<div class="col-25"></div>
	</div>
	<div class="row">
		<div class="col-10"></div>
		<div class="col-80">
			 <label class="item item-input">
  				<span class="input-label">Mobile</span>
 				 <input type="tel">
			</label>
		</div>
		<div class="col-10"></div>
	</div>

	<div class="row">
		<div class="col-10"></div>
		<div class="col-80">
			 <label class="item item-input">
  				<span class="input-label">Email</span>
 				 <input type="email">
			</label>
		</div>
		<div class="col-10"></div>
	</div>
	<div class="row">&nbsp;</div>

	<div class="row">
		<div class="col-20"></div>
		<div class="col-60">
		<button class="button btnOtp button-color" ui-sref="third">
  				Submit
		</button>
		</div>

		<div class="col-20"></div>
	</div>
	
	
</div>
</ion-content>

</ion-view>