<ion-view class="bck">
	<ion-content scroll="false">
		<div class="full">
		
				<ion-slide-box class="card" pager-click="navSlide(index)" style="height:70%;max-width:100%" 	auto-play="true" does-continue="true" >
			        <ion-slide>
			        		
			        			<img src="img/slide1.jpg" class="full">
			        	
			        </ion-slide>
			        <ion-slide>
			        			<img src="img/slide2.jpg" class="full">
			        		
			        </ion-slide>
			        <ion-slide>
			        			<img src="img/slide3.jpg" class="full">
			        	
			        </ion-slide>
			    </ion-slide-box>
		
				<div class="row" style="height:30%;max-width:100%;padding:15%">
					<div class="col-10"></div>
					<div class="col-80">
						<button class="button button-block kakao-button-color" ui-sref="details">
				  			<i class="icon ion-chatbubble"></i>  Log in with Kakao
						</button>
					</div>
					<div class="col-10"></div>
				</div>

		</div>
	</ion-content>
	
</ion-view>
