<ion-view view-title="Match">
	<ion-content>
		<ion-slide-box show-pager="false" class="slide1-pos" ng-repeat="data in dataset">
		    <ion-slide>
				<div class="card match-card-back">
			  		<div class="match-background" style="background: url({{data.picture}});" ng-click="viewProfile(data)"></div>
			      	<div class="row" style="height:50px;">
				      	<div class="col col-60">
				      		<h3>{{data.name}}</h3>
				      	</div>
				      	<div class="col col-20">
					      	<h5>Age</h5>
				      	</div>
				      	<div class="col col-20">
			        		<a class="button button-icon icon ion-ios-heart-outline" ng-click="toggleIcon($event, 'ion-ios-heart', data.username)" ></a>
				      	</div>
			      	</div>
			  	</div>
		    </ion-slide>
			<ion-slide>
				<div class="card match-card-back">
					<div>
						<div class="row">
							<div class="col">
								<h3>Name: </h3>
							</div>
							<div class="col">
								<h3>{{data.name}}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Gender: </h3>
							</div>
							<div class="col">
								<h3>{{data.gender}}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Height: </h3>
							</div>
							<div class="col">
								<h3>{{data.height}}cms</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Religion: </h3>
							</div>
							<div class="col">
								<h3>{{data.religion}}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Occupation: </h3>
							</div>
							<div class="col">
								<h3>{{data.occupation}}</h3>
							</div>
						</div>
					</div>
				</div>
		    </ion-slide>
		</ion-slide-box>
		
    </ion-content>
	  	<button class="button button-full  button-color ion-ios-heart" style="margin-top:572px;">
		  <strong>Buy more Hearts</strong>
		</button>
</ion-view>