<ion-view view-title="Match">
	<ion-content>
		<ion-slide-box show-pager="false" class="slide1-pos">
		    <ion-slide>
				<div class="card match-card-back">
			  		<div class="match-background" ng-click="viewProfile()"></div>
			      	<div class="row" style="height:50px;">
				      	<div class="col">
				      		<h3>Name</h3>
				      	</div>
				      	<div class="col">
					      	<h5>Age</h5>
				      	</div>
				      	<div class="col">
			        		<a class="button button-icon icon ion-ios-heart-outline" ng-click="toggleIcon($event, 'ion-ios-heart');test()" ></a>
				      	</div>
			      	</div>
			  	</div>
		    </ion-slide>
			<ion-slide>
				<div class="card match-card-back">
					<div>
						<div class="row">
							<div class="col">
								<h3>Name: </h3>
							</div>
							<div class="col">
								<h3>Akash</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Gender: </h3>
							</div>
							<div class="col">
								<h3>Male</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Height: </h3>
							</div>
							<div class="col">
								<h3>183 cms</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Religion: </h3>
							</div>
							<div class="col">
								<h3>Hindu</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Occupation: </h3>
							</div>
							<div class="col">
								<h3>Engineer</h3>
							</div>
						</div>
					</div>
				</div>
		    </ion-slide>
		</ion-slide-box>
		<ion-slide-box show-pager="false" class="slide2-pos">
		    <ion-slide>
				<div class="card match-card-back">
			  		<div class="match-background1" ng-click="viewProfile()"></div>
			      	<div class="row" style="height:50px;">
				      	<div class="col">
				      		<h3>Name</h3>
				      	</div>
				      	<div class="col">
					      	<h5>Age</h5>
				      	</div>
				      	<div class="col">
			        		<a class="button button-icon icon ion-ios-heart-outline" ng-click="toggleIcon($event, 'ion-ios-heart')" ></a>
				      	</div>
			      	</div>
			  	</div>
		    </ion-slide>
			<ion-slide>
				<div class="card match-card-back">
					<div>
						<div class="row">
							<div class="col">
								<h3>Name: </h3>
							</div>
							<div class="col">
								<h3>Akash</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Gender: </h3>
							</div>
							<div class="col">
								<h3>Male</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Height: </h3>
							</div>
							<div class="col">
								<h3>183 cms</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Religion: </h3>
							</div>
							<div class="col">
								<h3>Hindu</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3>Occupation: </h3>
							</div>
							<div class="col">
								<h3>Engineer</h3>
							</div>
						</div>
					</div>
				</div>
		    </ion-slide>
		</ion-slide-box>
    </ion-content>
	  	<button class="button button-full  button-color ion-ios-heart" style="margin-top:572px;">
		  <strong>Buy more Hearts</strong>
		</button>
</ion-view>