<ion-view view-title="Notifications">
	<ion-content>

		<div class="card" style="width:100%;margin:0px;padding:0px;background-color:transparent !important;">	
		    <div  class="item item-avatar shade" ng-click="">
		      	<img src="img/profile1.png">
		       <a ui-sref="home.match"> <div class="my-container" style="float:left">

      					<h2 class="row first-row" style="padding-left:5%"><strong>Venkman likes you</strong></h2>

      					<h2 class="row second-row" style="padding-left:5%">Age : 20</h2>

      					<h2 class="row third-row" style="padding-left:5%">from : ludhiana</h2>

  				</div></a>
		      
			      <div class="" style="float:right">
			      		<button class=" button button-outline button-balanced"  ng-click='acceptFun(this)' style="padding:0px"><i class="ion ion-checkmark"></i></button>
			      		<button class=" button button-outline button-assertive" ng-click="rejectFun(this)" style="padding:0px;color:red"><i class="ion ion-close"></i></button>
			      </div>
		    </div>
		</div>
	
	</ion-content>
</ion-view>