<ion-view view-title="Profile">
	<ion-content>
		<div style="margin:0px;">
		<div class="list card img-cover">
			<div class="item item-image">
				<img ng-src="../img/back3.jpg">
			</div>
		</div>
		<img src="img/download.jpg" class="img-profile profile-modal-card" style="z-index:2">
		<div>
			<div class="row">
				<div class="col">
					<a class="button icon-left ion-edit button-clear" style="color:#eb5b78;" ng-click='Edit()'>Edit Profile</a>
				</div>
				<div class="col">
					<a class="button icon-left ion-gear-a button-clear" style="color:#eb5b78;" ui-sref='settings'>Settings</a>
				</div>
			</div>
		</div>
		<div class="card profile-modal-card" style="margin-top:-1%">
			<div class="row">
				<div class="col">
					<h5><strong>Akash</strong></h5>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h5>20</h5>
				</div>
				<div class="col">
					<h5>Male</h5>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h5>S/W Developer</h5>
				</div>
				<div class="col">
					<h5>Hindu</h5>
				</div>
			</div>
		</div>
		</div>
	</ion-content>		
</ion-view>