<ion-modal-view>
  <ion-header-bar class="bar-color">
    <h1 class="title text-color">Profile</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeProfile()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card profile-modal-card">
      <div class="row">
        <img src="{{data.picture}}" class="img-modal">
      </div>
      <div class="profile-modal-text">
        <div class="row">
          <div class="col">
            <h3>{{data.name}}</h3>
          </div>
          <div class="col">
            <h3>20</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>{{data.gender}}</h3>
          </div>
          <div class="col">
            <h3>{{data.height}}cms</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>{{data.religion}}</h3>
          </div>
          <div class="col">
            <h3>{{data.occupation}}</h3>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
