<ion-view view-title="Profile">
	<ion-content>
		<div class="list card img-cover">
			<div class="item item-image">
				<img src="img/slide3.jpg">
			</div>
		</div>
		<div class="list card img-profile profile-modal-card">
			<div class="item item-image">
				<img src="img/slide1.jpg">
			</div>
		</div>
		<div>
			<div class="row">
				<div class="col">
					<a class="button icon-left ion-edit button-clear" style="color:#eb5b78;" ng-click='Edit()'>Edit Profile</a>
				</div>
				<div class="col">
					<a class="button icon-left ion-gear-a button-clear" style="color:#eb5b78;" ui-sref='settings'>Settings</a>
				</div>
			</div>
		</div>
		<div class="card profile-modal-card info-card-pos bck">
			<div class="row">
				<div class="col">
					<h3><strong>Akash</strong></h3>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h5>20</h5>
				</div>
				<div class="col">
					<h5>Male</h5>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h5>S/W Developer</h5>
				</div>
				<div class="col">
					<h5>Hindu</h5>
				</div>
			</div>
		</div>
	</ion-content>		
</ion-view>