<ion-modal-view>
  <ion-header-bar class="bar-color">
    <h1 class="title text-color">Profile</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeProfile()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card match-card-back">
      <div class="row">
        <img src="../img/download.jpg" class="img-modal">
      </div>
      <div>
        <div class="row">
          <a class="button button-icon icon ion-ios-heart-outline" ng-click="toggleIcon($event, 'ion-ios-heart')"></a>
        </div>
        <div class="row">
          <div class="col">
            <h3>Name: </h3>
          </div>
          <div class="col">
            <h3>Akash</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Gender: </h3>
          </div>
          <div class="col">
            <h3>Male</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Height: </h3>
          </div>
          <div class="col">
            <h3>183 cms</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Religion: </h3>
          </div>
          <div class="col">
            <h3>Hindu</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Occupation: </h3>
          </div>
          <div class="col">
            <h3>Engineer</h3>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
