<ion-view view-title="Profile">
	<div class="card img-cover">
	</div>

		<img src="../img/download.jpg" class="img-profile">
	<div>
		<div class="row">
			<div class="col">
				<a class="button icon-left ion-edit button-clear" style="color:#eb5b78;">Edit Profile</a>
			</div>
			<div class="col">
				<a class="button icon-left ion-gear-a button-clear" style="color:#eb5b78;">Settings</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h1>Name</h1>
			</div>
			<div class="col">
				<h2>......</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h1>Gender</h1>
			</div>
			<div class="col">
				<h2>........</h2>
			</div>
		</div>
	</div>
</ion-view>