<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.selfsogaeapp364382" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SelfSogaeApp</name>
  <description>&#xD;
        An Ionic Framework and Cordova project.&#xD;
    </description>
  <author email="you@example.com" href="http://example.com.com/">&#xD;
      Your Name Here&#xD;
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>

<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="2000" />
<preference name="auto-hide-splash-screen" value="false" />
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="orientation" value="portrait" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="resources/android/splash/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="resources/android/splash/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="resources/android/splash/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="resources/android/splash/splash-land-xhdpi.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/splash-land-xxhdpi.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/splash-land-xxxhdpi.png" density="land-xxxhdpi"/>
    <splash src="resources/android/splash/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="resources/android/splash/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="resources/android/splash/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="resources/android/splash/splash-port-xhdpi.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/splash-port-xxhdpi.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>
  </platform>
</widget>