/* Empty. Add your own CSS if you like */
.login{
	background: url(../img/SplashGrey1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	max-width:100%;
	max-height:100%;
}

.shade{
	background-color: #F5F5F5 !important;
	opacity: 0.5;
}
.inputpadd{
	width: 100%;
	padding: 10px;
}
.full1{
	width:100%;
}
.margin0{
	margin: 0px;
}
.full
{
	height:100%;
	width:100%;
}
.container1
{
	height: 100%;
	width:100%;
}
.row1{
	margin: 5%;
}
.row2{
	margin-top:5%;
}
.profileImg{
	margin:10px;
}
.profileRow1{
	height:70%;
}
.profileRow2{
	height:20%;
}
.btnOtp{
	width:100%;
	height:100%;
	background-color: #eb5b78;
	color: white;
}
.nav-color{
	background-color: #eb5b78;
}
.bck{
	/*background: url(../img/AppBackground.jpg);*/
	background-color: #FAFAFA;
}

.button-color
{
	background-color: #eb5b78;
	color: white;	
}
.fb-button-color
{
	background-color: #3b5998;
	color: white;	
}
.sc{
	max-height:100px !important;
	width:100% !important;
}

.tabs-positive .tabs{
background-color: #eb5b78 !important;
}

.text-color
{
	background-color: #eb5b78;
	color: white;	
}
.toggle.toggle-assertive input:checked + .track{
	background-color: #eb5b78 !important;
	opacity: 0.73; 
}
.icon.ion-ios-heart
{
	color: #eb5b78;
}
.bar-color
{
	background-color: #eb5b78 !important;
	color: white;
}
.img-size
{
	width: 150px;
	height: 150px;
}
.img-modal
{
	width:300px;
	height:300px;
}

.img-profile
{
	background: url(../img/slide1.jpg);
	width: 400px;
	height: 200px;
}

.scroll {
  padding: 10px 0 0px !important;
}
.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 28px !important;
  .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}
.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
  &.slide-right {
    -webkit-transform: translate3d(130px, 0, 0) !important;
    -moz-transform: translate3d(130px, 0, 0) !important;
    transform: translate3d(130px, 0, 0) !important;
  }
}
/*This will change*/
.messages.other {
  .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
  }
  .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
  }
  span {
    color: black !important;
    background-color: #C7C7CC !important;
  }
}
span {
  background-color: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
